<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.PhyAdminMapper">
  <resultMap id="BaseResultMap" type="com.pojo.PhyAdmin">
    <!--@mbg.generated-->
    <!--@Table phy_admin-->
    <id column="admin_id" jdbcType="INTEGER" property="adminId" />
    <result column="admin_name" jdbcType="VARCHAR" property="adminName" />
    <result column="admin_account" jdbcType="VARCHAR" property="adminAccount" />
    <result column="admin_password" jdbcType="VARCHAR" property="adminPassword" />
    <result column="admin_role_id" jdbcType="INTEGER" property="adminRoleId" />
    <result column="admin_department_id" jdbcType="INTEGER" property="adminDepartmentId" />
    <result column="admin_status" jdbcType="INTEGER" property="adminStatus" />
  </resultMap>

  <resultMap id="LoginAdminMap" type="com.pojo.PhyAdmin">
    <id column="admin_id" jdbcType="INTEGER" property="adminId"/>
    <result column="admin_name" jdbcType="VARCHAR" property="adminName"/>
    <result column="admin_role_id" jdbcType="INTEGER" property="adminRoleId"/>
    <result column="admin_status" jdbcType="INTEGER" property="adminStatus"/>
  </resultMap>

  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    admin_id, admin_name, admin_account, admin_password, admin_role_id, admin_department_id, 
    admin_status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from phy_admin
    where admin_id = #{adminId,jdbcType=INTEGER}
  </select>
  <select id="loginAdmin" resultMap="LoginAdminMap">
    select * from phy_admin where admin_account = #{acc} and admin_password = #{pwd};
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from phy_admin
    where admin_id = #{adminId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="admin_id" keyProperty="adminId" parameterType="com.pojo.PhyAdmin" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into phy_admin (admin_name, admin_account, admin_password, 
      admin_role_id, admin_department_id, admin_status
      )
    values (#{adminName,jdbcType=VARCHAR}, #{adminAccount,jdbcType=VARCHAR}, #{adminPassword,jdbcType=VARCHAR}, 
      #{adminRoleId,jdbcType=INTEGER}, #{adminDepartmentId,jdbcType=INTEGER}, #{adminStatus,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" keyColumn="admin_id" keyProperty="adminId" parameterType="com.pojo.PhyAdmin" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into phy_admin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="adminName != null">
        admin_name,
      </if>
      <if test="adminAccount != null">
        admin_account,
      </if>
      <if test="adminPassword != null">
        admin_password,
      </if>
      <if test="adminRoleId != null">
        admin_role_id,
      </if>
      <if test="adminDepartmentId != null">
        admin_department_id,
      </if>
      <if test="adminStatus != null">
        admin_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="adminName != null">
        #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="adminAccount != null">
        #{adminAccount,jdbcType=VARCHAR},
      </if>
      <if test="adminPassword != null">
        #{adminPassword,jdbcType=VARCHAR},
      </if>
      <if test="adminRoleId != null">
        #{adminRoleId,jdbcType=INTEGER},
      </if>
      <if test="adminDepartmentId != null">
        #{adminDepartmentId,jdbcType=INTEGER},
      </if>
      <if test="adminStatus != null">
        #{adminStatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pojo.PhyAdmin">
    <!--@mbg.generated-->
    update phy_admin
    <set>
      <if test="adminName != null">
        admin_name = #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="adminAccount != null">
        admin_account = #{adminAccount,jdbcType=VARCHAR},
      </if>
      <if test="adminPassword != null">
        admin_password = #{adminPassword,jdbcType=VARCHAR},
      </if>
      <if test="adminRoleId != null">
        admin_role_id = #{adminRoleId,jdbcType=INTEGER},
      </if>
      <if test="adminDepartmentId != null">
        admin_department_id = #{adminDepartmentId,jdbcType=INTEGER},
      </if>
      <if test="adminStatus != null">
        admin_status = #{adminStatus,jdbcType=INTEGER},
      </if>
    </set>
    where admin_id = #{adminId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pojo.PhyAdmin">
    <!--@mbg.generated-->
    update phy_admin
    set admin_name = #{adminName,jdbcType=VARCHAR},
      admin_account = #{adminAccount,jdbcType=VARCHAR},
      admin_password = #{adminPassword,jdbcType=VARCHAR},
      admin_role_id = #{adminRoleId,jdbcType=INTEGER},
      admin_department_id = #{adminDepartmentId,jdbcType=INTEGER},
      admin_status = #{adminStatus,jdbcType=INTEGER}
    where admin_id = #{adminId,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2024-08-09-->
  <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from phy_admin
    </select>

  <select id="getAllRole" resultType="com.pojo.PhyRole">
    select * from phy_role
  </select>

  <select id="getAllDepartment" resultType="com.pojo.PhyDepartment">
    select * from phy_department
  </select>
</mapper>